<?xml version="1.0" ?>
<model>
  <name>Brutus Maze Robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>
    Diferansiyel sürüşlü, 360 derece Lidar'lı otonom navigasyon robotu.
    PPO tabanlı labirent navigasyonu için Project Brutus'a özel tasarım.
  </description>
</model>
